body{
    background: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fecha_completa{
    margin: 35px 10px;

}
.fecha{
    text-align: center;
    color: 000;
    padding: 0 5px;
    margin: 5px 0;
    font-size: 2rem;
    
}
.horario{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2px;
    
}
.contHora{
    height: 50px;
    background: red;
    border: 1px solid #000;
    
}
.hora{
    text-align: center;
}